@import "tailwindcss";

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scrollLeft 40s linear infinite;
}
